body{
	background-color:#2222;
	font-family:"Georgia", Times New Roman, Times, serif;
	color:#333333;
	margin:0;
	margin-left:50px;
	margin-right: 50px;
	padding: 0;
}
header{
	background-color:#333333;
}
h1{
	color: azure;
	font-size:28px;
	text-align: center;
	padding: 20px;
}
h2{
	font-size:24px;
}
.container{
	width:1024px;
	margin: 0 auto;
}
#a, #dav, #contact-info {
	float:left;
}
#man-bio{
	float: left;
}
#dav{
	width:200px;
	line-height:150%;
}
#contact-info{
	width:30%;
	line-height:150%;
}
a{
	color:#d21034;
}
#copyright {
text-align: center;
}